{% extends 'main_template.html.twig' %}

{% block alpha1 %}{{0.2}}{% endblock %} {% block alpha2 %}{{0.2}}{% endblock %}

{% block background_image %}/images/kartka.jpg{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block menu_class %}przepisy_menu{% endblock %}
{% block left_content %}
    <button onclick="location.href = '/';" style="min-width: 50%; min-height: 5%; font-size: 20px; margin: 5%; border-radius: 10px;">&xlarr; Strona główna</button>
    {% block left_content2 %}
    {% endblock %}
{% endblock %}

{% block center_content %}
    <h2>W tej części strony, poświęconej kulinariom możesz poznawać nowe przepisy oraz dodawać własne.</h2>
{% endblock %}

{% block aside_class %}przepisy_aside{% endblock %}
{% block right_content %}
    <button onclick="location.href = '/przepisy/dodaj';" style="min-width: 50%; min-height: 5%; font-size: 20px; margin: 5%; border-radius: 10px;">Nowy przepis :)</button>
    <div style="text-align: center;">
    {% for recipe in recipes %}
        <hr>
        <h2><a href="/przepisy/widok/{{recipe.name}}">{{recipe.name}}</h2>
    {% else %}

    {% endfor %}
    </div>
{% endblock %}