{% extends 'main_template.html.twig' %}
{% block title %}
            Pasje na eswu.konin.pl
{% endblock %}
{% block stylesheets %}
    <style>
        * { font-family: verdana; COLOR: black; background-color: lightgray; }
        b { font-weight: bold; }
        body { background-color: lightgray; }
    </style>
{% endblock %}
{% block center_content %}
    <h1 style="font-size: 50pt; line-height: 2.0; margin-top: 0.5em;">{{passion.name}}</h1>
    <p style="line-height: 1.4; font-size: 13pt;">{{passion.description|nl2br}}</p>
{% endblock %}