{% extends 'main_template.html.twig' %}
{% block title %}
            Pasje na eswu.konin.pl
{% endblock %}
{% block stylesheets %}
    <style>
        b { font-weight: bold; }
        * { font-family: verdana; COLOR: black;}
        menu {
            background-color: rgba(190, 210, 230, 0.7);
            height: 100%;
            border-radius: 10px;
            margin: 5px;
        }
    </style>
{% endblock %}
{% block left_content %}
    <button onclick="location.href = '/';" style="min-width: 50%; min-height: 5%; font-size: 20px; margin: 5%; border-radius: 10px;">&xlarr; Strona główna</button>
    <div style="text-align: center;">
        {% for passion in passions %}
            <hr>
            <h2 style="line-height: 2.0;"><a href="./zainteresowania/{{passion.name}}">{{passion.name}}</a></h2>
        {% endfor %}
    </div>
{% endblock %}
{% block center_content %}
    <h1 style="font-size: 50pt;">Pasje</h1>
    <p style="line-height: 1.7; font-size: 22px;">Ta część strony zawiera opis ważnych dla mnie zainteresowań realizowanych z różną
    intensywnością na przestrzeni moich poszczególnych etapów życia. Dzielę się tutaj doświadczeniami,
    opinią oraz informacjami na temat przedstawionych pasji. Zapraszam do mam nadzieję, że ciekawej lektury.</p>
{% endblock %}