{% extends 'main_template.html.twig' %}
{% block title %}
            Pasje na eswu.konin.pl
{% endblock %}
{% block stylesheets %}
    <style>
        b { font-weight: bold; }
        body { background-color: skyblue }
        * { font-family: verdana; COLOR: black; background-color: skyblue }
    </style>
{% endblock %}
{% block center_content %}
    <h1 style="font-size: 50pt; line-height: 2.0; margin-top: 0.5em;">Pasje</h1>
        {% for passion in passions %}
            <h2 style="font-size: 25pt; line-height: 2.0;"><a href="./zainteresowania/{{passion.name}}">{{passion.name}}</a></h2>
        {% endfor %}
{% endblock %}