{% extends 'base.html.twig' %}
{% block body %}
    <center>
        <div style="width: 50%;">
            {% block center_content %}
            {% endblock %}
        </div>
    </center>
{% endblock %}