{% extends 'main_template.html.twig' %}
{% block title %}
            Symfony na eswu.konin.pl
{% endblock %}
{% block stylesheets %}
    <style>
        b { font-weight: bold; }
        body { background-color: #f8f8f8 }
        * { font-family: verdana; font-size: 14pt; COLOR: black; background-color: #f8f8f8 }
    </style>
{% endblock %}
{% block center_content %}
    <br><br>
    To jest strona robocza projektów, które piszę w Symfony. Do przejrzenia kodu większości moich pozostałych projektów
    zapraszam na <a href="https://www.github.com/wojtaszek23" style="color: inherit;">mój github</a>.
    Tymczasowo na tej stronie pozostałe projekty webowe są niedostępne z przyczyn migracyjnych do frameworka Symfony i potrzeby refactoringu, który zajmie mi trochę czasu.
    Poniżej zamieszczam listę obecnie realizowanych projektów:
    <br><br><br>
    <h2><a href="./pozdrowienia" style="color: inherit;">Księga Gości</a></h2>
    <br><br>
    <h2><a href="./przepisy" style="color: inherit;">Przepisy kucharskie</a></h2>
    <br><br>
    <h2><a href="./zainteresowania" style="color: inherit;">Moje hobby</a></h2>
    <br><br><br>
    Wybór projektów do napisania wybrałem w oparciu o cele, które sobie wytyczyłem
    oraz założenia uwzględniające jak najszybsze zdobycie umiejętności programowania w Symfony.<br><br>
    Założenia, które sobie wytyczyłem to:<br>
    -prostota projektów i szybkość wdrożenia<br>
    -możliwie szerokie wykorzystanie symfony w podstawowym stopniu<br><br>
    Cele, które miałem również na uwadze to:<br>
    -utrwalenie Symfony<br>
    -poszerzenie portfolio<br>
    -dostarczenie treści mającej niezerowe szanse na zainteresowanie gościa strony<br>
    -prosta obsługa i szybkie wdrożenie użytkownika bez zniechęcenia - > intuicyjny interfejs.
{% endblock %}