{% extends 'main_template.html.twig' %}
{% block title %}
            Symfony na eswu.konin.pl
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
<div style="text-align: center;">
    Cześć! <br>
    Na tej stronie znajdują się moje projekty webowe (rozwijane i zakończone).<br>
    Obecnie zajmuję się przepisywaniem kodu wcześniej zrealizowanych projektów do frameworka Symfony.<br>
    Do przejrzenia kodu większości moich pozostałych projektów
    zapraszam na <a href="https://www.github.com/wojtaszek23" style="color: inherit;">mój github</a>.<br>
    Poniżej zamieszczam listę aktualnie dostępnych na stronie projektów:
    <br>
    <br>

    <div style="text-align: center;">
        
    <a href="./zainteresowania" style="color: inherit; display: inline-block; ">
    <div style="border: 4px groove gray; float: left; padding-bottom: 20px; padding-top:0px; height: 300px;">
    <figure>
    <img src="/images/hobby2.jpg" style="border-radius: 10px;"></img>
    <figcaption style="color: green; font-size: 16pt;">Blog osobisty! Zapraszam! :)</figcaption>
    </figure>
    </div>
    </a>
    
    <a href="./pozdrowienia" style="color: inherit; display: inline-block; ">
    <div style="border: 4px groove gray; float: left; padding-bottom: 20px; padding-top:0px; height: 300px;">
    <figure>
    <img src="/images/greetings.png" style="border-radius: 10px;"></img>
    <figcaption style="color: green; font-size: 16pt;">Księga Gości</figcaption>
    </figure>
    </div>
    </a>
    
    </div>
    
    <div style="clear: both;"/>
    
    <div style="text-align: center;">
    
    <a href="./snake" style="color: inherit; display: inline-block; ">
    <div style="border: 4px groove gray; float: left; padding-bottom: 20px; padding-top:0px; height: 300px;">
    <figure>
    <img src="/images/snakeScreen.png" style="border-radius: 10px;"></img>
    <figcaption style="color: green; font-size: 16pt;">Gra Wąż (tylko na PC z klawiaturą)</figcaption>
    </figure>
    </div>
    </a>

    <a href="./przepisy" style="color: inherit; display: inline-block; ">
        <div style="border: 4px groove gray; float: left; padding-bottom: 20px; padding-top:0px; height: 300px;">
            <figure>
                <img src="/images/cookingScreen.png" style="border-radius: 10px;"></img>
                <figcaption style="color: green; font-size: 16pt;">Przepisy Kulinarne</figcaption>
            </figure>
        </div>
    </a>
    
    </div>

    <br>

    Wybór nowych projektów do napisania wybrałem w oparciu o cele, które sobie wytyczyłem
    oraz założenia uwzględniające jak najszybsze zdobycie umiejętności programowania w Symfony.<br><br>
    Założenia, które sobie wytyczyłem to:<br>
    -prostota projektów i szybkość wdrożenia<br>
    -możliwie szerokie wykorzystanie symfony w podstawowym stopniu<br><br>
    Cele, które miałem również na uwadze to:<br>
    -utrwalenie Symfony<br>
    -poszerzenie portfolio<br>
    -dostarczenie treści mającej niezerowe szanse na zainteresowanie gościa strony<br>
    -prosta obsługa i szybkie wdrożenie użytkownika bez zniechęcenia - > intuicyjny interfejs.
</div>
{% endblock %}